$primary-color: #00d1b2;
$color2: #433F45;
$color3: #c6c6c6;
body,h1,h2,h3,h4,h5,h6,ul,li {
    margin:0;
    padding:0;
    color: $color2;
    font-family: 'Open Sans', sans-serif;

}

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}
@mixin media-sm {
    @media screen and (max-width: 767px){
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) and (max-width:1023px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1440 px){
        @content;
    }
}